<div class='span10 '>
  <section class="widget">

    <div class="row-fluid">
      <!-- Heading start -->
        <div class='row'>
          <div class="span10 offset2">
           <h2 class="page-title">Dr Sheets <small></small></h2>
          </div>
        </div>
      <!-- Heading End -->

      <!-- Notification Area Start-->
        <div class="row" >
          <div class="span10 offset1">
            <% if flash[:notice] %>
              <div class="flash_notice" id='sheet_notice'>
                <div class="alert alert-success">
                 <%= notice %>
                 <a class="close" data-dismiss="alert">×</a> 
                </div>
              </div>
              <%end%>
            </div>
          </div>
      <!-- Notification Area End -->

      <!-- Counting Area Start-->
          <div class='row'>
            <div class='span10 offset1'>
              <section class="widget">
                <span class="badge label-success">
                  <%= DrSheet.count %>
                </span>
                <strong>
                   DR Assigned List are
                </strong>
              </section>
            </div>
          </div>
        <!-- Counting Area End-->


        <!-- List Start -->
          <div class='row'>
            <% if DrSheet.count > 0 %>
               <div class='span10 offset1'>
                <section class="widget" id="dr-sheets">
                
                  <div class="accordion-group">
                    <blockquote>
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent='#dr-sheets'  href='#pending-appraisals' >
                        <span class="name">
                          <h4>
                            Pending Appraisals
                          </h4>
                        </span>
                      </a>
                    </blockquote>
                      <table id="myTable" class=" tablesorter table table-bordered table-hover table-srtiped ">
                        <thead>
                          <th>Appraisee</th>
                          <th>Appraiser</th>
                          <th>Appraisal Period </th>
                        </thead>
                        <tbody>
                      <% @dr_sheets.where(:appraiser_status => 0).each do |dr_sheet| %>
                        <tr>
                          <td><%= dr_sheet.find_appraisee_name %></td> 
                          <td><%= dr_sheet.find_appraiser_name %></td>  
                          <td><%= AppraisalCycle.find(dr_sheet.appraisal_cycle_id).start_date %> &nbspTo&nbsp <%= AppraisalCycle.find(dr_sheet.appraisal_cycle_id).end_date %>  </td>
                          <td><%= link_to "", edit_dr_sheet_path(dr_sheet), :remote => true,:class => "icon-edit  pull-left icon-large color-green" %></td>
                        </tr>                             
                      <% end %>
  
                      </tbody>         
                      </table>
                  </div>
               
               
                  <div class="accordion-group">
                    <blockquote>
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent='#dr-sheets'  href='#completed-appraisals' >
                        <span class="name">
                          <h4>
                            Completed Appraisals
                          </h4>
                        </span>
                      </a>
                    </blockquote>
                    <div class="widget-large">
                      <table id="myTable2" class="tablesorter table table-bordered table-hover table-srtiped ">
                        <thead>
                          <th>Appraisee</th>
                          <th>Appraiser</th>
                          <th>Appraisal Period </th>
                        </thead>
                        <tbody>
                      <% @dr_sheets.where(:appraiser_status => 1).each do |dr_sheet| %>
                        <tr>
                          <td><%= dr_sheet.find_appraisee_name %></td> 
                          <td><%= dr_sheet.find_appraiser_name %></td>  
                          <td><%= AppraisalCycle.find(dr_sheet.appraisal_cycle_id).start_date %> &nbspTo&nbsp <%= AppraisalCycle.find(dr_sheet.appraisal_cycle_id).end_date %>  </td>
                        </tr>                             
                      <% end %>
  
                     </tbody>         
                      </table>
                    </div>
                  </div>
                </section>
            </div>
            <% end %>
          </div>
        <!-- List Area End -->  
    </div>
              </div>
            </section>
            </section>        
</div>
<script type="text/javascript">
  $(function(){
  $("#myTable").tablesorter({ 
              // sort on the first column and third column, order asc 
              sortList: [[0,0],[2,0]] 

          });
  $("#myTable2").tablesorter({ 
              // sort on the first column and third column, order asc 
              sortList: [[0,0],[2,0]] 
          });
});

</script>


