<div class="row-fluid">
  <div class="span12">
    <section class="widget">
      <header>
        <h1><i class="icon-road"></i> Longterm Plannings & Goals</h1>
      </header>
    </section>
  </div>
</div>

 <%= form_for(@longterm_goal, :remote => true) do |f|  %>
  
  <% @longterm_sheet = current_user.longterm_sheets.where(:appraisee_status => false).last  %> 

  <%= f.hidden_field :longterm_sheet_id, :value => @longterm_sheet.id %>

  <!-- Development need and learings start -->

    <div class="row-fluid">
      <div class="span12">
        <section class="widget">
          <header>
            <h4>                             Note             </h4>
          </header>
          <div class="body">
            <blockquote>This section involves setting developmental objectives for yourself in consultation with your Manager /Appraiser. List down your long-term goal for a period of 1 year (from March 2013 to March 2014) which will help you grow to the next level in the organisation. Please identify and define the various development areas (non-technical and technical) to be acquired / built upon / enhanced over this period to be able to achieve your goal.
            </blockquote>
          </div>
        </section>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 ">
        <section class="widget tiny">
          <header>
            <h4>Developmental Goal (Professional)</h4>
          </header>
          <div class="body">
            <blockquote>
              <%= f.text_area :prof_goal, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Professional Goal", :rows =>"5" %>
            </blockquote>
          </div>
        </section>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 ">
        <section class="widget">
          <header>
            <h4>Developmental Goal (Personal)</h4>
          </header>
          <div class="body">
            <blockquote>
              <%= f.text_area :personal_goal, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Personal Goal", :rows => "5" %>
            </blockquote>
          </div>
        </section>
      </div>
    </div>
    <div class="row-fluid">
      <section class="widget">
        <header>
          <h4>
            <center>Appraisee's Assesment - Learning’s</center>
          </h4>
        </header>
			</section>      
    </div>
    <section class=widget>
	    <div class="row-fluid">
	      <div class="span2">
	        <section class="widget">
	          <header>
	            <h4>
	              <center>Improvement Area</center>
	            </h4>
	          </header>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	          <header>
	            <h4>
	              <center>Strengths</center>
	            </h4>
	          </header>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	          <header>
	            <h4>
	              <center>Areas of Improvement</center>
	            </h4>
	          </header>
	        </section>
	      </div>
	    </div>
	    <div class="row-fluid">
	      <div class="span2" >
	        <section class="widget-tiny" rows="6">
	          <header>
	            <h4>
	              <center><strong>Technical</strong></center>
	            </h4>
	          </header>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	        	<%= f.text_area :tech_strength, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Technical Strengths", :rows => "5" %>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	        	<%= f.text_area :non_tech_strength, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Non Technical Strengths", :rows => "5" %>
	        </section>
	      </div>
	    </div>
	    <div class="row-fluid control-group" >
	      <div class="span2" >
	        <section class="widget-tiny" rows="6">
	          <header >
	            <h4>
	              <center><strong>Non-Technical</strong></center>
	            </h4>
	          </header>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	        	<%= f.text_area :tech_imp, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Technical Improvementss", :rows => "5" %>
	        </section>
	      </div>
	      <div class="span5">
	        <section class="widget">
	        	<%= f.text_area :non_tech_imp, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Non Technical Improvementss", :rows => "5" %>
	        </section>
	      </div>
	    </div>
    </section>
  <!-- Development need and learings end -->

	<!-- Development Plan Sheet Start -->
	  <div class="row-fluid">
		  <div class="span12">
		    <section class="widget">
		      <header>
		        <h4>                             Development Plan             </h4>
		      </header>
		      <div class="body">
		        <blockquote>
		          Please jointly decide with your Supervisor / manager and can identify training / development activities that adds to your ability to do your job more effectively, while broadening your skill or knowledge base. This will prepare you for increased responsibility or expertise and could include on the job learning, reading etc
		        </blockquote>
		      </div>
		    </section>
		  </div>
		</div>
		<div class="row-fluid">
		  <div class="span12 ">
		    <section class="widget tiny">
		      <header>
		        <h4>Agreed goals for the year ahead.</h4>
		      </header>
		      <div class="body">
		        <blockquote>
              <%= text_area_tag(:agreed_goal, "", :class => "elastic-textarea autogrow input-block-level", :placeholder => "Agreed goals for the year ahead", :rows =>"5" ); %>
		        </blockquote>
		      </div>
		    </section>
		  </div>
		</div>
		<section class='widget'>
			<div class="row-fluid">
				
			  <div class="span4">
			    <section class="widget">
			      <header>
			        <h4>Training and Development implications?</h4>
			      </header>
			      <div class="body">What needs to be learned / developed ?</div>
			    </section>
			  </div>
			  <div class="span4">
			    <section class="widget">
			      <header>
			        <h4>Current Role</h4>
			      </header>
			      <div class="body">
			        <div class="controls">
			          <%= collection_select(:curr_implication_id, :id, Implication.all, :id, :name, {}, {:data => {:placeholder => "Current Implications"}, :tabindex => "-1", :multiple => "true", :class => 'input-block-level text widget ', 'data-validation' => "required"  } ) %>
	              </select>
			        </div>
			      </div>
			    </section>
			  </div>
			  <div class="span4">
			    <section class="widget">
			      <header>
			        <h4>Next Role</h4>
			      </header>
			      <div class="body">
			        <div class="controls">
			          <%= collection_select(:next_implication_id, :id, Implication.all, :id, :name, {}, {:data => {:placeholder => "Next Implications"}, :tabindex => "-1", :multiple => "true", :class => 'input-block-level text widget ', 'data-validation' => "required"  } ) %>
	              </select>
			        </div>
			      </div>
			    </section>
			  </div>
			  
			</div>
		</section>
		<div class="row-fluid">
		  <div class="span12 ">
		    <section class="widget">
		      <header>
		        <h4>How will these be achieved?<small> How will it be learnt/developed?</small></h4>
		      </header>
		      <div class="body">
		        <blockquote>
		        	<%= text_area_tag(:way_to_achieve, "", :class => "elastic-textarea autogrow input-block-level", :placeholder => "", :rows =>"5" ); %>
		        </blockquote>
		      </div>
		    </section>
		  </div>
		</div>
		<div class="row-fluid">
		  <div class="span12 ">
		    <section class="widget">
		      <header>
		        <h4>Resources required ?<small> (including Employees time)</small></h4>
		      </header>
		      <div class="body">
		        <blockquote>
		        	<%= text_area_tag(:resources_required, "", :class => "elastic-textarea autogrow input-block-level", :placeholder => "", :rows =>"5" ); %>
		        </blockquote>
		      </div>
		    </section>
		  </div>
		</div>
		<div class="row-fluid">
			<div class="span12 ">
			  <section class="widget">
			    <header>
			      <h4>How will success be measured?</h4>
			    </header>
			    <div class="body">
			      <blockquote>
		        	<%= text_area_tag(:measure, "", :class => "elastic-textarea autogrow input-block-level", :placeholder => "", :rows =>"5" ); %>
			      </blockquote>
			    </div>
			  </section>
			</div>
		</div>
	<!-- Development Plan Sheet End -->
	
  
  <%= f.submit "Submit", :class => "btn btn-info btn-large btn-block icon-file pull-right", :onclick => "this.disabled=true; this.value='Saved';" %>



<%end%>