<script type="text/javascript">$.validate();
function checkvalue(rating)
{if ( rating.value > 10  ){alert("Value should be less then or equal to 10"); rating.value = 0; }}

</script>

<% if current_user.role== 'appraiser' %>
   <div class="body">
     <% if @flag == 0  %>
      <div id='appraiser_self_form' class='widget'><%= render :partial => 'form' %></div>
    <%end%>
    
                     
   <% if @flag==1 %>
   <% unless @appraisee.kra_sheets.where(:appraisee_status => 1, :appraiser_status => 0).last.nil? %>
    <section class='widget'>
    <h3 class='page-title'>KRA</h3>
    <p style="text-align:justify;font-size:30px" class="span12">
    <blockquote><strong style="text-align:justify;font-size:30px">Please fill the 
    <i class='icon-user btn btn-info'> <%= @appraisee.first_name.upcase %></i> Appraisal Form</strong></blockquote></p>
              
    <table class="table table-hover table-srtiped">
      <thead>
       <tr>
         <th>KEY RESULT AREAS</th>
         
         <th> Ratings  &amp; COMMENTS by  <%= @appraisee.first_name %> </th>
         
         <th>Mangaer Rating &amp; COMMENTS for <%= @appraisee.first_name %> </th>
       </tr>
      </thead>

      <tbody>
       <% for kra_attr in @kra_rating.find_kra_attrs_for_role(@appraisee.id) do%>
         
         <tr>
           <td style="text-align:justify;font-size:80%;" class='span9'>
             <div id="accordion3" class="accordion" style="border-bottom:dotted 2px;border-top:dotted 2px;">
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a href=<%= "#collapse_#{kra_attr.id}" %> data-toggle="collapse" class="accordion-toggle">
                            <strong  style=font-size:30px><%= kra_attr.name %></strong>
                            </a>
                    </div>
                    <span class="offset1">
                      <b>Weightage: </b><span class="btn btn-info badge">
                       <strong><%= kra_attr.weightage.round %> %</strong>
                    </span>
                       </span>
                   <div id=<%= "collapse_#{kra_attr.id}" %> class="accordion-body in collapse" style="height: auto;">
                    <strong>
                   <p class='page-title'>Description</p><pre class='widget' style="font-size:18px; font-weighgt:bold;">
                   <%= kra_attr.desc %></pre>
                   <p class='page-title'>Measures</p><small><pre class=widget style='font-size:15px;'>
                    <%= kra_attr.measures %></pre></small></strong> </div>
               </div>
             </div>
           </td>
           <td>
             <section class="widget">
           <% rating_obj = kr_attr_rating_obj(@kra_rating.get_appraisee_kra_sheet(@appraisee.id),kra_attr.id,0)  %>
                                  <% unless rating_obj == nil then %>
                                   <small><strong> Appraisee rating is: </small>
                                   <h6 class='badge'><%= rating_obj.rating %></h6>
                                   <p>Appraisee Comments</p><small><pre class=widget style='font-size:15px;'>  <%= rating_obj.comment %></pre></strong></small>
                                 <% end %>
          </section>
           </td>
          <td>
           <%= form_for(@kra_rating, :remote =>  true ) do |f|  %>
            

             <%= f.hidden_field :kra_sheet_id, :value =>"#{@kra_rating.find_kra_sheet_manager(current_user.id,@appraisee.id)}" %>
             <%= f.hidden_field :kra_attr_id, :value =>"#{kra_attr.id}" %>
             <%= f.hidden_field :rated_by, :value => 1 %>
              
             

              <section class="widget">
                
              <% @sheet_id = find_kra_sheet_details(@kra_rating.find_kra_sheet_manager(current_user.id,@appraisee.id))  %>
 
            
            
              

                <% rating_obj = kr_attr_rating_obj(@kra_rating.find_kra_sheet_manager(current_user.id,@appraisee.id),kra_attr.id,1)  %>
                                
                <% unless rating_obj == nil then %>
                 
                 <% appraisee = find_appraisee_details(rating_obj.kra_sheet_id) %>

                <%= link_to "", edit_kra_rating_path(rating_obj, :editflag => 1, :appraisee => appraisee ), :remote => true, class: "icon-edit icon-large color-orange pull-right" %>
                              
                  <strong>
                 <small> Your rating is: </small>
                  <h6 class='badge'><%= rating_obj.rating %></h6>
                   <p>Comments</p><small><p><pre class=widget style='font-size:15px;'>  <%= rating_obj.comment %></pre></p></small>
                    </strong>
                    

                  <div id='kra_attr_rating_form'>
                                
                    </div>



                <% else %>
                <span id='<%= "manager-rating_#{kra_attr.id}" %>'></span>
                <%= f.text_field :rating,:style =>"width: 20px", :id => "manager-result_#{kra_attr.id}",  :value => 0, :class => " search-query", :onblur => "checkvalue(this)"  %>
                
                <%= f.text_area :comment, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Commetnts", :rows =>"5", :id =>"man-cmt_#{kra_attr.id}"   %>
                
                <%= f.submit "Save", class: "btn btn-primary", :onclick => "this.disabled=true; this.value='Saved'; $('#manager-rating_#{kra_attr.id}').hide();$('#man-cmt_#{kra_attr.id}').hide();   " %>
                                   
                <% end %>
                </section>
                                    <script type="text/javascript">
                                     
                                      $('<%= "#manager-rating_#{kra_attr.id}" %>').raty({
                                        path     : '/assets',
                                        cancel   : false,
                                        cancelOff: 'cancel-off-big.png',
                                        cancelOn : 'cancel-on-big.png',
                                        half     : true,
                                        size     : 24,
                                        starHalf : 'star-half-big.png',
                                        starOff  : 'star-off-big.png',
                                        starOn   : 'star-on-big.png',
                                        target    : '<%= "#manager-result_#{kra_attr.id}" %>',
                                        targetType: 'score',
                                        targetKeep: true,
                                        number: 10,
                                        mouseover: function(score, evt) {
                                          document.getElementById('<%= "manager-result_#{kra_attr.id}" %>').value=score;
                                        }
                                        ,
                                        mousemove: function(score, evt) {
                                          document.getElementById('<%= "manager-result_#{kra_attr.id}" %>').value=score;
                                        }
                                      } );
                                                                                       
                                    </script>
                                    
                                  <%end%>
                                  </td>
                              <%end%>
                            </tr>
                          </tbody>
                        </table>
   
                      </section>
  
  
  

  <%= link_to "Submit to HR", overall_performance_appraisal_cycles_path(:appraisal_cycle => {:id => @sheet_id,:flag=> 1}),class: "btn btn-success icon-edit icon-large color-orange pull-right", :remote => true %>
  <%= link_to "Disagree", revert_signoff_path( :kra_sheet_id => @sheet_id ), :remote => true, class: "btn btn-danger" %>
  <%= link_to "Modify the Ratings", kra_ratings_path(:overall_edit_flag => 1), :remote => true, class: "btn icon-edit icon-large color-orange pull-right" %>


</td>
      <td>

<% else %>
                   <h4> Appraisee has not filled the form yet.</h4>    
                   <% end %>   

                      <%end%>
                    </div>
                     
                  <% end %>                            
                    
