<script type="text/javascript">
  $.validate();
  function checkvalue(rating)
{if ( rating.value > 10  ){alert("Value should be less then or equal to 10"); rating.value = 0; }}
</script>
<% unless current_user.kra_sheets.where(:appraisee_status => 0).first.nil? %>
  <% if current_user.role == "appraisee" || @flag==0 %>
  <div class="row-fluid">
    <div class="span12">
      <h2 class="page-title">
        KRA
        <br>
        <small>
          <blockquote>
            <p style="text-align:justify;font-size:100%" class="span12"><strong>
              Goals should be SMARTER = Specific, Measurable, Achievable, Result-Oriented, Time-Bound, Engaging, Reaching.   Performance Planning is facilitated by first listing the Key Responsibilities of the position and then defining Objectives and Goals for each Key Responsibility.</strong>                                                          
            </p>
            <p> <br/></p>
          </blockquote>
        </small>
      </h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <section class="widget">
        <header>
          <h4>
            <i class="icon-star">
            </i>
            Key Result Areas Rating &amp; Comments
          </h4>
        </header>
        <div class="body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  KEY RESULT AREAS
                </th>
                
                  <th>
                    SELF RATING &amp; COMMENTS
                    </th>
                </tr>
                   </thead>

                   <tbody >
                    
                     <% for kra_attr in @kra_rating.find_kra_attrs_for_role(current_user.id) do%>
                       <tr >
                         <td style="text-align:justify;font-size:80%;" class='span12' >
                           <div id="accordion2" class="accordion" style="border-bottom:dotted 2px;border-top:dotted 2px;">
                            <div class="accordion-group">
                             <div class="accordion-heading">
                              <a href=<%= "#collapse_#{kra_attr.id}" %> data-toggle="collapse" class="accordion-toggle" d>
                              <strong  style=font-size:30px><%= kra_attr.name %></strong></a>
                            </div>
                            <span class="offset1">
                                    <b>Weightage: </b><span class="btn btn-info badge">
                                    <strong><%= kra_attr.weightage.round %> %</strong>
                                       </span>
                                    </span>
                           <div id=<%= "collapse_#{kra_attr.id}" %> class="accordion-body in collapse" style="height: auto;">
                            <strong>
                           <p class='page-title'>Description</p>
                           <pre class=widget style='font-size:15px;'><%= kra_attr.desc %></pre>
                          <p class='page-title'>Measures</p>
                          <small class='offset1'>
                           <pre class=widget style='font-size:15px;'><%= kra_attr.measures %></pre>
                           </small> 
                           </strong>                          
                         </div>
                         
                         </div></div>
                         </td>
                         
                         
                           <td>
                             <%= form_for(@kra_rating, :remote => true) do |f|  %>
                               <%= f.hidden_field :kra_sheet_id, :value => "#{@kra_rating.find_kra_sheet_self(current_user.id)}" %>
                               <%= f.hidden_field :kra_attr_id, :value => "#{kra_attr.id}" %>
                               <%= f.hidden_field :rated_by, :value => 0 %>
                               <section class="widget">
                                 
          <% @appraisal_cycle_id = find_kra_sheet_details(@kra_rating.find_kra_sheet_self(current_user.id)).appraisal_cycle_id  %>
              
                                
                                 <% rating_obj = kr_attr_rating_obj(@kra_rating.find_kra_sheet_self(current_user.id),kra_attr.id,0)  %>

                                  <% unless rating_obj == nil then %>
                                   <%= link_to "", edit_kra_rating_path(rating_obj, :editflag => 0), :remote => true, class: "icon-edit icon-2x color-orange pull-right" %>
                                     <small> Your rating is: </small>
                                   <h6 class='badge'><%= rating_obj.rating %></h6>
                                    <p>Your Comments</p><pre class=widget style='font-size:15px;'> <%= rating_obj.comment %></pre>
                        
                                  
                                  <div id='kra_attr_rating_form'>
                                    
                                  
                                  </div>
                                
                                <% else%>
                                <span id=<%= "self-rating_#{kra_attr.id}" %> >
                                 </span>
                                  <%= f.text_field :rating,:style =>"width: 20px", :id => "self-result_#{kra_attr.id}",  :value =>0,'data-validation'=> "number", 'data-validation-allowing'=> "float", :class => " search-query",:onblur => "checkvalue(this)"%>
                                                                                                 
                                  <%= f.text_area :comment, :class => "elastic-textarea autogrow input-block-level", :placeholder => "Commetnts", :rows =>"5", :id =>"self-cmt_#{kra_attr.id}"  %>
                                
                                 <%= f.submit "Save", :class => "btn btn-primary", :onclick => "this.disabled=true; this.value='Saved'; $('#self-rating_#{kra_attr.id}').hide(); $('#self-cmt_#{kra_attr.id}').hide(); " %>
                                 
                                 <% end %>

                               </section>
 
                             <% end %>

                           </td>
                         </tr>

                                    <script type="text/javascript">
                                      $('<%= "#self-rating_#{kra_attr.id}" %>').raty({
                                        path     : '/assets',
                                        cancel   : false,
                                        cancelPlace: 'right',
                                        cancelOff: 'cancel-off-big.png',
                                        cancelOn : 'cancel-on-big.png',
                                        half     : true,
                                        size     : 10,
                                        starHalf : 'star-half-big.png',
                                        starOff  : 'star-off-big.png',
                                        starOn   : 'star-on-big.png',
                                        target    : '<%= "#self-result_#{kra_attr.id}" %>',
                                        targetType: 'score',
                                        targetKeep: true,
                                        number: 10,
                                        mouseover: function(score, evt) {
                                          document.getElementById('<%= "self-result_#{kra_attr.id}" %>').value=score;
                                        }
                                        ,
                                        mousemove: function(score, evt) {
                                          document.getElementById('<%= "self-result_#{kra_attr.id}" %>').value=score;
                                        }
                                        ,
                                        hover: function(score, evt) {
                                          document.getElementById('<%= "self-result_#{kra_attr.id}" %>').value=score;
                                        }
                                      }     );


                                      $('<%= "#manager-rating_#{kra_attr.id}" %>').raty({
                                        path     : '/assets',
                                        cancel   : false,
                                        cancelOff: 'cancel-off-big.png',
                                        cancelOn : 'cancel-on-big.png',
                                        half     : true,
                                        size     : 24,
                                        starHalf : 'star-half-big.png',
                                        starOff  : 'star-off-big.png',
                                        starOn   : 'star-on-big.png',
                                        target    : '<%= "#manager-result_#{kra_attr.id}" %>',
                                        targetType: 'score',
                                        targetKeep: true,
                                        number: 10,
                                        mouseover: function(score, evt) {
                                          document.getElementById('<%= "manager-result_#{kra_attr.id}" %>').value=score;
                                        }
                                        ,
                                        mousemove: function(score, evt) {
                                          document.getElementById('<%= "manager-result_#{kra_attr.id}" %>').value=score;
                                        }
                                      } );
                                    </script>

                                    <%end%>
                                   
                                    </tbody>
                                    
                                  </table>
                                  <div class="clearfix">
                              


  <%= link_to "Sumit to Manager", overall_performance_appraisal_cycles_path(:appraisal_cycle => {:id => @appraisal_cycle_id,:flag=> 0}),class: "btn btn-success icon-edit icon-large color-orange pull-right", :remote => true %>



 <%= link_to "Modify the Ratings", kra_ratings_path, :remote => true, class: "btn icon-edit icon-large color-orange pull-right" %>
                              
                                    
                                  </div>
                                  
                              </section>
                            </div>
                            </div>
                          <%end%>
                        <% else %>
                          <h4>Currently there is no appraisal or you have signed off the form. </h4>
                        <% end %>
