<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker();
  })
  $.validate();
</script>


<div id="user_dept_form">
  <div class="row-fluid">
    <div class="span12 offset2">
      <h3 class="page-title">Update the department of employee </h3>
    </div>
  </div>
 
    <div class="row-fluid" >
      <div class="span6 offset2">
        <section class="widget">
          <header>
            <h4>Department of User<button type="button" class="btn btn-danger btn-mini icon-remove pull-right" onclick="$('#user_dept_form').hide()"></button></h4>
          </header>
        
           <div class="body">
            <%= form_tag("/add_dept", :id => "add_dept", :class => "add_dept", :remote => true) do %>            
          
            
              <% if flash[:error] %>
                  <div class="flash_notice" id='user_role_errors'>
                    <div class="alert alert-error">
                      <a class="close" data-dismiss="alert">×</a> 
                      <%= flash[:error] %>
                    </div>
                  </div>
              <% end %>
            
              <div class="control-group">
                  <legend class="section">Select the User </legend>
                  <div class="controls controls-row">
                    <%= collection_select(:user_id, :id, User.all, :id, :first_name,{:prompt => ""}, {:data => {}, :class => "input widget", :style => "width:206px; height:38px;",'data-validation' => "required"}) %>
                    </select>
                  </div>
              </div>
          
              <div class="control-group">
                  <legend class="section">Department </legend>
                  <div class="controls controls-row">
                    <%= collection_select(:dept_id, :id, Department.all, :id, :name,{:prompt => ""}, {:data => {}, :class => "input widget", :style => "width:206px; height:38px;",'data-validation' => "required"})%>
                    </select>
                  </div>
              </div>
  
              
              <div class="control-group">
                  <legend class="section">Period</legend>
                  <div class="controls controls-row">
                    <div class="input-append span7">
                      <i class=" add-on icon-calendar"></i>
                      <%= text_field_tag :start_date.strftime('%B %Y'), nil,'data-behaviour' => 'datepicker', 'data-date-format' => "yyyy-mm-dd",'placeholder' => "Select the start_date.strftime('%B %Y')", 'data-validation' => "required" %>
                    </div>
                  </div>
              </div>

              <div class="form-actions">
                  <input type="submit" value="Add" class="btn btn-primary">
              
                  <button type="button" class="btn btn-xs" onclick="$('#user_dept_form').hide()">Close</button>
              </div>
              
            <% end %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>