<div class="flash_notice"><div class="alert alert-success"> <%= notice %> </div></div>
 
<ul class="nav nav-pills nav-stacked">
<li class="active">
    <a href="#">
      <span class="badge "><%= current_user.appraiser_kra_sheets.count %></span>
       Appraisal forms
    </a>
  </li>
</ul>
<% if AppraisalCycle.count > 0 %>
<table class="table table-hover">
  <tbody><tr>
    <th>Appraisee Name</th>
    <th>Duration</th>
    <th>View</th>
    <th>Email</th>
  </tr>

  <% @kra_sheets.each do |sheet| %>
    <tr>
      <td><%= User.find(sheet.appraisee_id).first_name %></td>
      <td><%= AppraisalCycle.find(sheet.appraisal_cycle_id).start_date %> to <%= AppraisalCycle.find(sheet.appraisal_cycle_id).end_date %>  </td>
      <td><%= link_to "View Appraisal", appraisal_cycles_overall_performance_path(:appraisal_cycle => {:id => sheet.id,:flag=> 1}), :remote => true %></td>
      <td><%= sheet.appraisee.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
