<%= form_tag root_path,:remote => true, :method => 'get', :id => "employee_search" do %>
<% if user_signed_in? %>
 <% unless current_user.role == 'admin' %>
  <% if flash[:notice] %>
  <div class="flash_notice" id='role_notice'>
    <div class="alert alert-success">
     <a class="close" data-dismiss="alert">×</a>
     <%= notice %>
   </div>
 </div>
 <% end %>

<div id="body-content">
  <div class= 'row-fluid'>
    <span class= "span7">
    <div class='row'>
    <div class='span12 offset1'>
      <%= render partial: 'appraisal_cycles/total_performance_graph.html'  %>
    </div>
  </div>
  <div class='row'></br></div>
    <div class='row'>
    <div class='span12 offset1'>
      <%= render partial: '/appraisal_cycles/performance_graph'  %>
    </div>
  </div>
</span>
<span class='span4 offset1'>
  <%= render partial: 'full_info' %>
</span>
</div>
</div>
<% else %>
<div id="body-content">
  <div class='row-fluid' >

    <%= submit_tag "Search", :name => nil , :class=> "btn btn-success pull-right badge" %>
    <%= text_field_tag :search, params[:search], :class=>"search-query pull-right", :placeholder=>"search user" %> 
  </div>
  <div id="users" class="row-fluid">
    <%= render 'users' %>
  </div>
  <div id="sam"></div>
</div>

<% end %>


<% end %>

<% end %>

<style type="text/css">
.table th {
   text-align: center;   
}

</style>
<script type="text/javascript">
$(function(){
$("#employee_search input").keyup(function(){
$.get($("#employee_search").attr("action"), $("#employee_search").serialize(), null, "script");
  return false;

});
});
</script>

