<% if user_signed_in? %>
 <% unless current_user.role == 'admin' %>
  <% if flash[:notice] %>
  <div class="flash_notice" id='role_notice'>
    <div class="alert alert-success">
     <a class="close" data-dismiss="alert">×</a>
     <%= notice %>
   </div>
 </div>
 <% end %>

<div id="body-content">
  <div class= 'row-fluid'>
    <span class= "span7">
    <div class='row'>
    <div class='span12 offset1'>
      <%= render partial: 'appraisal_cycles/total_performance_graph.html'  %>
    </div>
  </div>
  <div class='row'></br></div>
    <div class='row'>
    <div class='span12 offset1'>
      <%= render partial: '/appraisal_cycles/performance_graph'  %>
    </div>
  </div>
</span>
<span class='span4 offset1'>
  <%= render partial: 'full_info' %>
</span>
</div>
</div>
<% else %>
<section class='widget'>
<strong>
<table class='table table-bordered table-hover table-srtiped'>
  <thead>
    <tr>
      <th><i class='icon-user icon-4x'></i></th>
      <th><i class='icon-envelope icon-4x'></i></th>
      <th><i class='icon-mobile-phone icon-4x'></i></th>
    </tr>
  </thead>
  <tbody>
  <% User.all.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><a href=#><%= user.email %></a></td>
    <td><%= user.phone_no %></td>
  </tr>
  <% end %>
</tbody>
</table>
</strong>
</section>
<% end %>
<% end %>
<style type="text/css">
.table th {
   text-align: center;   
}
</style>