
<div class="row-fluid">
          <div class="span12">
              <h2 class="page-title">Appraisal Cycles <small>All appraisal cycles</small></h2>
          </div>
        </div>
          <div class="row-fluid" >
            <div class="span8">
              
            <div class="flash_notice" id='sheet_notice'><div class="alert alert-success"> <%= notice %> </div>
                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#">                    
                      <span class="badge ">
                      <%= @appraisal_cycles.count %>
                      </span>       Appraisal Cycles    
                    </a>
                  </li>
                </ul>
                <% if AppraisalCycle.count > 0 %>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                      <% if current_user.role == "admin" then %>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                        <% else %>
                        <th>Appraisal Periods</th>
                        <%end%>
                      </tr>
                      <% if current_user.role == "admin" then %>
                        <% @appraisal_cycles.each do |appraisal_cycle| %>
                          <tr>
                            <td><%= appraisal_cycle.start_date %></td>
                            <td><%= appraisal_cycle.end_date %></td>
                            <td><%= link_to "", edit_appraisal_cycle_path(appraisal_cycle), :remote => true, class: "icon-edit icon-large color-orange" %>
                            </td>
                          </tr>
                        <% end %>
                      <% else%>
                        <% user_appraisal_cycle.each do |appraisal_cycle| %>
                          <tr>
                            <td><i class="icon-calendar btn"></i><li class = "active add-on"><%= link_to appraisal_cycle.start_date.to_s+"  to  " + appraisal_cycle.end_date.to_s, appraisal_cycles_overall_performance_path(:appraisal_cycle => {:id => appraisal_cycle.id, :flag => 0}), :remote => true %></li></td>
                          </tr>
                        <% end %>
                      <% end %>
  </tbody>
</table>
<% end %>
            </div>
          </div>
