<div class='span11'  style="margin:50px 70px">
  <section class=widget>
    <div class='row-fluid'>
      <div class=row>
        <div class='span12 offset1'>
          <h2 class="page-title">
            Overall Performance Rating<br/>
            <small>
              KRA & DR Manager
            </small>
          </h2>
          <h4 class="page-title" style="color:#EAC85E;">
            Period:&nbsp<%= AppraisalCycle.find(@period).start_date %> &nbsp To &nbsp <%= AppraisalCycle.find(@period).end_date %><br/>
          </h4>
         </div>
       </div>

       <div class='row'>
        <span class='span3 widget offset1'>
          <div id="kra-gauge" class="200x160px">
          </div>
          <div>
            <i class="icon-user"></i>
            KRA Manager:&nbsp
            <span class="label label-success">
              <%=User.find(@kra_sheet_temp.appraiser_id).first_name  %>
            </span>
          </div>
         </span>

         <span class='span3 widget offset1'>
          <div id="dr-gauge" class="200x160px">
          </div>
          <div>
            <i class="icon-user"></i>
            DR Manager:&nbsp
            <span class="label label-success">
              <%=User.find(@dr_sheet.appraiser_id).first_name  %>
            </span>
          </div>
        </span>

        <span class='span3 widget offset1'>
          <div id="tot-gauge" class="200x160px">
          </div>
          <div>
            <i class="icon-bar-chart icon-large"></i> &nbsp Performance of: &nbsp 
            <span class="label label-success"><%= current_user.first_name  %>
            </span>
          </div>
        </span>
       </div> 
    </div>
  </section>
</div>

    

    <script type="text/javascript">
    var dr = new JustGage({
    id: "dr-gauge",
    value: '<%= (dr_performance).round(2) %>',
    min: 0,
    max: 100,
    title: "DR Performance",
    levelColors: ["#faa401"],
    levelColorsGradient: 0
    });
    
    var kra = new JustGage({
    id: "kra-gauge",
    value: ' <%= (performance_sum).round(2) %>',
    min: 0,
    max: 100,
    title: "KRA Performance",
    levelColors: ["#33CCFF"],
    levelColorsGradient: 0
    });

var tot = new JustGage({
    id: "tot-gauge",
    value: '<%= ((performance_sum*0.7).round(2))+((dr_performance*0.3).round(2)) %>',
    min: 0,
    max: 100,
    title: "Total Performance",
   levelColors: ["#8CBF26"],
    levelColorsGradient: 0
    });

    </script>


<style type="text/css">
  .box {
    margin-top: 50px;
    /*THIS does not work as expected: */
    box-shadow: 0 0 2px 2px white;
}
</style>