<div class='span6 offset2'>
  <section class="widget">
    
    <div class="row-fluid">
      <!-- Heading start -->
        <div class='row'>
          <div class="span11 offset2">
            <h2 class="page-title">Performance <br/><small>All appraisal cycles</small></h2>
          </div>
        </div>
      <!-- Heading End -->

      <!-- Notice Start -->
        <div class="row" >
          <div class="span8 offset2">
            <% if flash[:notice] %>
              <div class="flash_notice" id='app_cycle_notice'>
              <div class="alert alert-success"> 
                <%= notice %>
                <a class="close" data-dismiss="alert">×</a>
              </div> 
            </div>
            <%end%>   
          </div>
        </div>
      <!-- Notice end -->

      <!-- Count start -->
        <div class='row'>
          <div class='span8 offset2'>
            <section class="widget">
              <span class="badge label-success">
                <% if current_user.role == "admin" then %>
                  <%= AppraisalCycle.count %>
                <% else %>
                  <%= current_user.kra_sheets.count %>
                <% end %>
              </span>
              <strong>
               Appraisal Cycles
              </strong>
            </section>
          </div>
        </div>
      <!-- Count end -->


<!-- admin view for past overall performance of each user start -->
<div class='row'>
  <div class='span8 offset2'>
    <strong>
      <section class="widget">
        <% if current_user.role == "admin" %>
          <%= form_for(:appraisal,:method => :post, :url => { :action => :past_appraisal_summary  } , :remote => true,  :class => "form-horizontal label-left") do |f|  %>            
            
            <%= f.collection_select :user, User.all.order("first_name")-User.where(:role => 'admin'), :id, :first_name, :prompt => "Select User" %>
            </select>
            <%= f.collection_select :id, AppraisalCycle.all.order("start_date DESC"), :id, :start_date, :prompt => "Select Cycle" %>
            </select>
          
            <input type="submit" value="Find" class="btn btn-primary">
          <%end%>
        </section>
      </strong>
    </div>
  </div>
      
<!-- admin view for past overall performance of each user end -->
    <%else%>
      <!-- List start -->
      <div class='row'>
      <% if AppraisalCycle.count > 0 %>
        <div class='span8 offset2'>
          <strong>
            <section class="">
              <table class="table table-hover">
                <thead>
                  <tr style="border-bottom:solid 1px;">
                    <th>
                    <% unless current_user.role == "admin" then %>
                       Appraisal Periods
                    <%end%>
                    </th>
                  </tr>
                </thead>
                <tbody>
                   <% unless current_user.role == 'admin' %>
                      <% user_kra_appraisal_cycle.each do |appraisal_cycle| %>
                        <tr>
                        <td>
                        <%= link_to " " + appraisal_cycle.start_date.strftime('%B %Y').to_s+"  to  " + appraisal_cycle.end_date.strftime('%B %Y').to_s, appraisal_cycles_past_appraisal_summary_path(:appraisal => {:id => appraisal_cycle.id, :user => current_user.id}), :remote => true, :class => "icon-calendar btn btn-block btn-info" %>
                        </td>
                        </tr>
                      <% end %>
                    <% end %>
                </tbody>
              </table>
            </section>
          </strong>
        </div>
      <% end %>
      </div>
      <!-- List end -->
      <%end%>
    </div>
  
  </section>
</div>
    