<% @kra_sheets.each do |kra_sheet| %>
  <% if kra_sheet.appraisee_status==false %>
    <div class="alert alert-error">  
      <a class="close" data-dismiss="alert">×</a>  
      <strong>Warning!</strong>Your KRA sheet is not submitted  
    </div> 
  <% else %>
    <div class="alert alert-success">  
      <a class="close" data-dismiss="alert">×</a>  
      <strong>Success!</strong>Your KRA sheet is completed the assessing  
    </div>  
  <% end %>
  <div class="content container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2 class="page-title">Performance Rating recommended <small>by Supervisor / manager</small></h2>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
          <section class="widget-large">
            <header>
                <h4>KRA Assessment by You </h4>
            </header>
            <div class="body">
              Rating 
              <%= progress_bar(progress_user,:color => 'orange', :rounded => true, :tiny => true) %> 
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Attribute</th>
                    <th>Rating</th>
                  </tr>
                  <% @ratings=KraRating.where(:kra_sheet_id => kra_sheet.id,:rated_by => 0) %>
                  <% @ratings.each do |attr_rating| %>
                    <tr>
                      <td><%= KraAttr.find(attr_rating.kra_attr_id).name %></td>
                      <td><%= attr_rating.rating %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </section>
      </div>
      <div class="span4 offset1" style="overflow-y:auto;overflow-x: hidden;">
              <section class="widget-large">
                  <header>
                      <h4>
                         KRA Assessment by KRA manager
                      </h4>
                  </header>
                  <div class="body">
                    Rating 
                    <%= progress_bar(progress_manager, :color => 'orange', :rounded => true, :tiny => true) %> 
                    <table class="table table-hover">
                    <tbody><tr>
                      <th>Attribute</th>
                      <th>Rating</th>
                    </tr>
                    <% @ratings=KraRating.where(:kra_sheet_id => kra_sheet.id,:rated_by => 1) %>
                    <% @ratings.each do |attr_rating| %>
                       <tr>
                          <td><%= KraAttr.find(attr_rating.kra_attr_id).name %></td>
                          <td><%= attr_rating.rating %></td>
                        </tr>
                    <% end %>
                      </tbody>
                    </table>
                  </div>
              </section>
      </div>
      <div class="span4">
      </div>
    </div>
    <div class="span4 offset2" align="center" >
      <section class="widget tiny">
          <header>
              <h3>
                <br>
                Overall Performance
              </h3>
          </header>
          <div class="body">
            <br><br>
              <h4>
                Overall Performance for KRA sheet : &nbsp<%= (performance_sum).round(2) %>
              </h4>
              <h4>
                Overall Performance of KRA (KRA70% & DR 30 %) :&nbsp<%= (performance_sum*0.7).round(2) %>
              </h4>

          </div>
      </section>
    </div>
    <div class="span4 offset3" >
      <section class="widget tiny">
          <header>
              <h4>
                 <%= current_user.first_name %>
              </h4>
          </header>
          <div class="body">
              <blockquote>
               </textarea>
               <% unless @status=KraSheet.where(:id => kra_sheet.id).first.appraisee_status %>
                 <%= link_to "SignOff",kra_status_update_kra_sheets_path(:id => kra_sheet.id), :remote => true, class: "btn btn-success btn-block" %>
                 <% else %>
                  <strong ><h4 class="btn btn-success">You have submitted the KRA form</h4></strong>
                <% end %>
              </blockquote>
          </div>
      </section>
    </div>          
  </div>
<% end %>