<section class='widget span12'>
<% @kra_sheets.each do |kra_sheet| %>

  <% if kra_sheet.appraisee_status==false %>
    <div class="alert alert-error">  
      <a class="close" data-dismiss="alert">×</a>  
      <strong>Warning!</strong> KRA sheet is not submitted  
    </div> 
  <% else %>
    <div class="alert alert-success span11">  
      <a class="close" data-dismiss="alert">×</a>  
      <strong>Success!</strong>KRA sheet is completed the assessing  
    </div>  
  <% end %>
  <div class="content container-fluid">
    <div class="row-fluid">
          <div class="span10 offset1">
            <h2 class="page-title">Performance Rating recommended <small>by Supervisor / manager</small></h2>
          </div>
    </div>
    <div class="row-fluid span5">
      <div class="span5">
          <section class="widget-large">
            <header>
                <h4>KRA Assessment by <%= @appraisee.first_name %> </h4>
            </header>
            <div class="body">
              Rating 
              <%= progress_bar(progress_user,:color => 'orange', :rounded => true, :tiny => true) %>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Attribute</th>
                    <th>Rating</th>
                  </tr>

                  <% @ratings=KraRating.where(:kra_sheet_id => kra_sheet.id,:rated_by => false) %>
                  <% @ratings.each do |attr_rating| %>
                    <tr>
                      <td><%= KraAttr.find(attr_rating.kra_attr_id).name %></td>
                      <td><%= attr_rating.rating %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </section>
      </div>
      <div class="span5 offset1" style="overflow-y:auto;overflow-x: hidden;">
              <section class="widget-large">
                  <header>
                      <h4>
                         KRA Assessment by KRA manager <%= @appraiser.first_name %>
                      </h4>
                  </header>
                  <div class="body">
                    Rating 
                    <%= progress_bar(progress_manager,:color => 'orange', :rounded => true, :tiny => true) %>    
                    <table class="table table-hover">
                    <tbody><tr>
                      <th>Attribute</th>
                      <th>Rating</th>
                    </tr>
                    <% @ratings=KraRating.where(:kra_sheet_id => kra_sheet.id,:rated_by => true) %>
                    <% @ratings.each do |attr_rating| %>
                       <tr>
                          <td><%= KraAttr.find(attr_rating.kra_attr_id).name %></td>
                          <td><%= attr_rating.rating %></td>
                        </tr>
                    <% end %>
                      </tbody>
                    </table>
                  </div>
              </section>
      </div>

    </div>

    <div class="span11" align="center" >
      <section class="widget">
          <header>
              <h3>
                <br>
                Overall Performance
              </h3>
          </header>
          <div class="body">
            <br><br>
            <%  unless performance_sum==0 %>
              <h4>

                Overall Performance for KRA sheet : &nbsp<%= (performance_sum).round(2) %>
              </h4>
              <h4>
                Overall Performance of KRA (KRA70% & DR 30 %) :&nbsp<%= (performance_sum*0.7).round(2) %>
              </h4>
              <% else %>
              <h4>Manager yet to Rate you</h4>
              <% end %>

          </div>
      </section>
    </div>
    <div class="span11" >
      <section class="widget">
          
          <div id="status" class="body">
              <blockquote>
               </textarea>
               <% if @flag=="0" %>
                 <% unless @status=KraSheet.where(:id => kra_sheet.id).first.appraisee_status %>
                  <%= link_to "SignOff",kra_status_update_kra_sheets_path(:id => kra_sheet.id), :remote => true, class: "btn btn-success btn-block" %>
                  <% else %>
                  <% unless @status=KraSheet.where(:id => kra_sheet.id).first.appraiser_status %>
                  <strong ><h4 class="btn btn-success">Submitted the KRA form for Manager</h4></strong>
                  <%else%>
                  <strong ><h3 class="text-success">KRA sheet is completed the assessing </h3></strong>
                  <%end%>
                <% end %>
              <% else %>
                 <% unless @status=kra_sheet.appraiser_status %>
                  <%= link_to "SignOff",kra_manager_status_update_kra_sheets_path(:id => kra_sheet.id), :remote => true, class: "btn btn-success btn-block" %>
                  <% else %>
                  <% unless current_user.role == 'admin' %>
                    <strong ><h3 class="text-success">Submitted the KRA form for HR</h3></strong>
                    <%else%>
                    <strong ><h3 class="text-success">KRA sheet is completed the assessing </h3></strong>
                  <%end%>

                <% end %>
              <% end %>
              </blockquote>
          </div>
      </section>
    </div>          
        <div class = 'span11' >
                <section class="widget">
                    
                    <header>
                        <h4>
                            <i class="eicon-chat"></i>
                        
                            Comments
                        </h4>
                    </header>

                    <div class="body " style="overflow: hidden;overflow-y: auto;" >
                      <div id="chat" class="chat">
                            <% comments_name=KraRating.where(:kra_sheet_id=>kra_sheet.id).select(:comment,:rated_by,:kra_attr_id).order("kra_attr_id DESC")%>
                              <% flag=0 %>
                              <% comments_name.each do |comment_by| %>
                              
                              <div class="chat-message">
                                <% unless comment_by.rated_by %>
                              
                                <div class="sender pull-left">
                                  <div class="icon">
                                        <img src="/assets/appraisal.png" class="img-circle" alt="" />
                                   </div>
                              </div>
                              <div class="chat-message-body ">
                                <% else %>
                              
                                <div class="sender pull-right">
                                      <div class="icon">
                                      <img src="/assets/appraisal.png" class="img-circle" alt="" />
                                      </div>
                                    </div>
                              <div class=" chat-message-body on-left">
                                  <% end %>
                                  <span class="arrow"></span>
                                  <div class="sender">
                                    <a href="#">
                                      <% if comment_by.rated_by==false %>
                                        <%= @appraisee.first_name%>
                                        <%= @appraisee.email  %>
                                      <% else %>
                                        <%= @appraiser.first_name %>
                                        <%= @appraiser.email  %>
                                      <% end %>
                                    </a></div>
                                  <div class="text">
                                    <strong><font color="#0ca961">Attribue Name:</font></strong>
                                    <%= comment_by.kra_attr.name %><br> 
                                    <strong><font color="#8ac90c">Comment:</font></strong>
                                    <%= comment_by.comment %>

                                  </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        </div>
                </section>
              </div>
<% end %>
  </div>
</section>
<script>
  (function($){
    $(window).load(function(){
      $(".chat").mCustomScrollbar(({

                            theme:"light"
    });
  })(jQuery);
</script>