<div class='span10 offset1'>
  <section class="widget">

    <div class="row-fluid">
      <!-- Heading start -->
        <div class='row'>
          <div class="span10 offset2">
           <h2 class="page-title">Kra Sheets <small></small></h2>
          </div>
        </div>
      <!-- Heading End -->

      <!-- Notification Area Start-->
        <div class="row" >
          <div class="span10 offset1">
            <% if flash[:notice] %>
              <div class="flash_notice" id='sheet_notice'>
                <div class="alert alert-success">
                 <%= notice %>
                 <a class="close" data-dismiss="alert">×</a> 
                </div>
              </div>
              <%end%>
            </div>
          </div>
      <!-- Notification Area End -->
        
        <!-- Counting Area Start-->
          <div class='row'>
            <div class='span10 offset1'>
              <section class="widget">
                <span class="badge label-success">
                  <%= KraSheet.count %>
                </span>
                <strong>
                   KRA Assigned List are
                </strong>
              </section>
            </div>
          </div>
        <!-- Counting Area End-->


        <!-- List Start -->
          <div class='row'>
            <% if KraSheet.count > 0 %>
               <div class='span10 offset1'>
                <section class="widget" id='kra-sheets-all'>
                  <% @distinct_appraisals.each do |id| %>
                    <% appraisal = AppraisalCycle.find(id.appraisal_cycle_id) %> 
                      <div class="accordion-group">
                        <blockquote>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent='#kra-sheets-all'  href=<%= "#appraisal-collapse#{appraisal.id}" %> >
                        <span class="name">
                          <h4>
                            <%= "#{appraisal.start_date} to #{appraisal.end_date}"%>
                          </h4>
                        </span>
                        </a>
                        </blockquote>
                        <div id= '<%= "appraisal-collapse#{appraisal.id}" %>' class="accordion-body collapse">
                        
                          <% @kra_sheets.where(:appraisal_cycle_id => appraisal.id).each do |kra_sheet| %>
                            <div class='widget' style="background-color: rgba(255,255,255,.20); color:#000; margin-left:60px;">
                             
                              <span class='label btn-success'><%= kra_sheet.find_appraisee_name %></span>
                              <span class='label btn-info'><%= kra_sheet.find_appraiser_name %></span>
                              <span><%= link_to "", kra_sheet, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => "icon-trash icon-2x icon-2x color-red pull-right" %>
                                <span><%= link_to "", edit_kra_sheet_path(kra_sheet), :remote => true,:class => "icon-edit icon-2x color-orange pull-right" %></span>
                              </span>

                            </div>
                             
                              <% end %> 
                                 
                        </div>
                      </div>
                    <% end %>
                </section>
            </div>
            <% end %>
          </div>
        <!-- List Area End -->  
    </div>
  </section>        
</div>
